html,
body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  letter-spacing: 1px;
}

/* HEADER */
header .banner-container .wrapper {
  color: #fff;
  background-image: url(../img/image.webp);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  padding: 5px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
header .banner-container .wrapper .text-top {
  grid-area: 1/3;
  justify-self: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .text-top h1 {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .save-date {
  grid-area: 2/1;
  justify-self: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .save-date img {
  width: 300px;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .save-date p {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .invitation {
  grid-area: 3/2;
  padding: 5px;
  margin: 5px;
  justify-self: center;
  align-self: center;
  text-align: center;
}
header .banner-container .wrapper .invitation p {
  font-family: "Dosis", sans-serif;
  margin: 5px;
  padding: 5px;
}
header .banner-container .wrapper .invitation p:nth-child(1) {
  font-size: 20px;
}
header .banner-container .wrapper .invitation p:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
}
header .banner-container .wrapper .invitation .invitation-btn {
  padding: 5px;
  margin: 5px;
  font-size: 14px;
}
header .banner-container .wrapper .invitation .invitation-btn button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: #181818;
  font-family: "Dosis", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
header .banner-container .wrapper .invitation .invitation-btn button:hover {
  background-color: #71717A;
}
header .banner-container .wrapper .invitation .invitation-btn button i {
  padding: 0 5px;
}

/* MAIN */
#panel {
  display: none;
  padding: 10px;
  font-family: "Dosis", sans-serif;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 240px) and (max-device-width: 900px) and (orientation: portrait) {
  /* HEADER */
  header .banner-container .wrapper {
    background-image: url(../img/portrait.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  header .banner-container .wrapper .text-top h1 {
    font-size: 30px;
  }
  header .banner-container .wrapper .save-date img {
    width: 200px;
  }
  header .banner-container .wrapper .save-date p {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p:nth-child(1) {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p:nth-child(2) {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation .invitation-btn button {
    padding: 5px;
  }

  /* MAIN */
  #panel {
    display: none;
    padding: 10px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 240px) and (max-device-width: 900px) and (orientation: landscape) {
  /* HEADER */
  header .banner-container .wrapper {
    background-image: url(../img/image.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  header .banner-container .wrapper .text-top h1 {
    font-size: 30px;
  }
  header .banner-container .wrapper .save-date img {
    width: 150px;
  }
  header .banner-container .wrapper .save-date p {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p:nth-child(1) {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation p:nth-child(2) {
    font-size: 14px;
  }
  header .banner-container .wrapper .invitation .invitation-btn button {
    padding: 5px;
  }

  /* MAIN */
  #panel {
    display: none;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */