@use './config';

/* Smartphones (portrait) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 900px)
and (orientation : portrait)  {

    /* HEADER */

    header {
        .banner-container {

            .wrapper {
                background-image: url(../img/portrait.webp);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;

                .text-top {
                    
                    h1 {
                        font-size: 30px;
                        white-space: nowrap;
                    }
                }
                .save-date {
                    
                    img {
                        width: 200px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                
                .invitation {
                    
                    p {
                        font-size: 14px;

                        &:nth-child(1) {
                            font-size: 14px;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                        }
                    }
                    .invitation-btn {

                        button {
                            padding: 5px;
                        }
                    }
                }
                
            }
        }
    }

    /* MAIN */

    main {
        .content-container {
            display: none;
        
            .wrapper {

                .text-top {
                    
                    h1 {
                        font-size: 40px;
                    }
                }
                .main-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column wrap;
   
                    .groom-social {
                        position: unset;
                        right: unset;

                        a {
                            color: map-get(config.$color, "primary");
                            text-decoration: none;

                            &:hover {
                                color: map-get(config.$color, "secondary");
                            }
                        }
                        i {
                            padding: 0 5px;
                        }
                    }
                    .bride-social {
                        position: unset;
                        right: unset;

                        a {
                            color: map-get(config.$color, "primary");
                            text-decoration: none;

                            &:hover {
                                color: map-get(config.$color, "secondary");
                            }
                        }
                        i {
                            padding: 0 5px;
                        }
                    }
                }
            }

            /* QUOTES SECTION */

            .quotes-container {

                .content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column wrap;
                    height: auto;

                    .text {
                        font-size: 14px;
                        line-height: 30px;

                        @include margin-padding-5px();
                    }
                }
            }

            /* COUNTDOWN CONTAINER */

            .countdown-container {

                @mixin span-bg-fonts {
                    font-size: 18px;
                }

                .box {
                    height: 250px;
                    margin: 100px 25px;

                    .timer {
                        text-align: center;
                        font-family: config.$font-secondary;
                        padding: 5px;

                        #detail {
                            font-size: 18px;
                            padding: 5px;
                        }
                        .detail-txt {
                            display: flex;
                            justify-content: space-evenly;
                            
                        }
                    }
                    .text {

                        span {
                            @include span-bg-fonts();
                            margin-bottom: -25px;
                        }
                    }
                }
                
                
            }

            /* WEDDING EVENTS */

            .events-container {
               
                .text-top {
    
                    h1 {
                        
                       font-size: 40px;
                       white-space: nowrap;
                    }
                }
                .content-desc {
    
                    .content-1,
                    .content-2 {
                        flex-flow: column wrap;
                        align-items: flex-start;

                        margin: unset;
                        padding: unset;

                        .img-1,
                        .img-2 {
                           align-self: flex-start;
                            
    
                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        .txt {
                            width: auto;
    
                            .location-btn {
            
                                button {
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }

            /* GALLERY */

            .gallery-container {

                .text-top {

                    h1 {
                        font-size: 40px;
                    }
                }
    
                .img-wrapper {

                    grid-template-columns: repeat(2, 3fr);
    
                    .img-8 {
                        grid-column: 1 / span 2;
                    }
                }
            }

            /* DONATE */

            .donate-container {

                .top-shape {
                    margin-bottom: 25px;
                }

                .text-top {

                    h1 {
                        @include margin-padding-5px();
                        font-size: 40px;
                    }
                }

                .donate-btn {

                    button {
                        padding: 5px;

                        i {
                            padding: 5px;
                        }
                    }
                }

                .bottom-shape {
                    margin-top: 25px;
                }
            }
        }
    }
}


/* Smartphones (landscape) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 900px)
and (orientation : landscape) {

    /* HEADER */

    header {
        .banner-container {

            .wrapper {
                background-image: url(../img/image.webp);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .text-top {

                    h1 {
                        font-size: 30px;
                    }
                }
                .save-date {
                    

                    img {
                        width: 150px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                
                .invitation {
                    
                    p {
                        font-size: 14px;

                        &:nth-child(1) {
                            font-size: 14px;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                        }
                    }

                    .invitation-btn {

                        button {
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    /* MAIN */

    /* QUOTES SECTION */

    .quotes-container {

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            height: auto !important;

            .text {
                font-size: 14px !important;
                line-height: 30px;
                
            }
        }
    }

    /* COUNTDOWN CONTAINER */

    .countdown-container {

        .box {
            height: 250px;

            .timer {
                text-align: center;
                font-family: config.$font-secondary;
                padding: 5px;

                #detail {
                    font-size: 50px !important;
                    padding: 5px;
                }
                .detail-txt {
                    display: flex !important;
                    justify-content: space-evenly !important;
                }
            }
        }
    }

    /* WEDDING EVENTS */

    .events-container {

        .content-desc {

            .content-1,
            .content-2 {
                flex-flow: column wrap;
                align-items: flex-start;
            }
        }
    }

    /* GALLERY */

    
    
}