@use './config';

/* Smartphones (portrait) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 667px)
and (orientation : portrait)  {

    /* HEADER */

    header {
        .banner-container {

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                background-image: url(../img/portrait.webp);

                .text-top {
                    grid-template-columns: repeat(1, 1fr);
                    justify-content: center;
                    margin: 5px 0;
                    padding: 5px;

                    h1 {
                        grid-area: 1 / 1;
                        margin: 0;
                        font-size: 30px;
                    }
                }
                .save-date {
                    grid-template-columns: repeat(1, 1fr);
                    justify-content: center;
                    margin: 5px 0;
                    padding: 5px;

                    img {
                        width: 250px;
                    }
                }
                .bottom-text {
                    grid-template-columns: repeat(1, 1fr);
                    margin: 5px 0;
                    padding: 5px;

                    .date {
                        font-size: 14px;

                        p {
                            margin: 0;
                            padding: 5px 0;
                        }
                    }
                    .invitation {

                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                        p:nth-child(1) {
                            font-size: 14px;
                        }
                        p:nth-child(2) {
                            font-size: 14px;
                        }

                        .invitation-btn {

                            button {
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* MAIN */

    #panel {
        display: none;
        padding: 10px;
    }
}

/* Smartphones (landscape) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 667px) 
and (orientation : landscape) {

    /* HEADER */

    header {
        .banner-container {
            

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                background-image: url(../img/image.webp);
                background-size: cover;
                

                .text-top {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin: 5px 0;
                    padding: 5px;

                    h1 {
                        grid-area: 1 / 2;
                        margin: 0;
                        font-size: 24px;
                    }
                }
                .save-date {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin: 5px 0;
                    padding: 5px;

                    img {
                        width: 150px;
                    }
                }
                .bottom-text {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin: 5px 0;
                    padding: 5px;

                    .date {
                        font-size: 14px;

                        p {
                            margin: 0;
                            padding: 5px 0;
                        }
                    }
                    .invitation {

                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                        p:nth-child(1) {
                            font-size: 14px;
                        }
                        p:nth-child(2) {
                            font-size: 14px;
                        }

                        .invitation-btn {

                            button {
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* MAIN */

    #panel {
        display: none;
        padding: 10px;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 712px)
and (max-device-width : 1138px) { 

}

@media only screen
and (max-width : 668px) { 
    
}