@use './config';

/* Smartphones (portrait) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 900px)
and (orientation : portrait)  {

    /* HEADER */

    header {
        .banner-container {

            .wrapper {
                background-image: url(../img/portrait.webp);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;

                .text-top {
                    

                    h1 {
                        font-size: 30px;
                    }
                }
                .save-date {
                    

                    img {
                        width: 200px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                
                .invitation {
                    

                    p {
                        font-size: 14px;

                        &:nth-child(1) {
                            font-size: 14px;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                        }
                    }

                    .invitation-btn {

                        button {
                            padding: 5px;
                        }
                    }
                }
                
            }
        }
    }

    /* MAIN */

    main {
        .content-container {
            display: none;
        
            .wrapper {

        
                .text-top {
                    

                    h1 {
                        font-size: 40px;
                    }
                }
                .main-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column wrap;
        
                    .groom {
                        
                        
                        .box {
                            
        
                            img {
                                
                            }
                            .text {
                                
            
                                p {
                                    
            
                                    &:nth-child(1) {
                                        
                                        font-size: 28px;
                                    }
                                    &:nth-child(2),
                                    &:nth-child(3),
                                    &:nth-child(4) {
                                        
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .groom-social {
                        position: unset;
                        right: unset;

                        a {
                            color: map-get(config.$color, "primary");
                            text-decoration: none;

                            &:hover {
                                color: map-get(config.$color, "secondary");
                            }
                        }
                        i {
                            padding: 0 5px;
                        }
                    }
        
                    .bride {
                        
                        
                        .box {
                            
        
                            img {
                                
                            }
                            .text {
                                
            
                                p {
                                    
            
                                    &:nth-child(1) {
                                        
                                        font-size: 28px;
                                    }
                                    &:nth-child(2),
                                    &:nth-child(3),
                                    &:nth-child(4) {
                                        
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .bride-social {
                        position: unset;
                        right: unset;

                        a {
                            color: map-get(config.$color, "primary");
                            text-decoration: none;

                            &:hover {
                                color: map-get(config.$color, "secondary");
                            }
                        }
                        i {
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
}


/* Smartphones (landscape) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 900px)
and (orientation : landscape) {

    /* HEADER */

    header {
        .banner-container {

            .wrapper {
                background-image: url(../img/image.webp);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;
                gap: 10px;

                .text-top {
                    

                    h1 {
                        font-size: 30px;
                    }
                }
                .save-date {
                    

                    img {
                        width: 150px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                
                .invitation {
                    

                    p {
                        font-size: 14px;

                        &:nth-child(1) {
                            font-size: 14px;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                        }
                    }

                    .invitation-btn {

                        button {
                            padding: 5px;
                        }
                    }
                }
                
            }
        }
    }

    /* MAIN */

    #main {
        display: none;
        padding: 10px;
    }
}