@use './config';

html,
body {
    background-color: map-get(config.$color, "background");
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    letter-spacing: 1px;
}

/* HEADER */

header {
    .banner-container {
        
        .wrapper {
            color: map-get(config.$color, "background");
            background-image: url(../img/image.webp);
            background-repeat: no-repeat;
            background-size: 100% 100vh;
            padding: 10px;
            height: 100vh;

            .text-top {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-family: config.$font-primary;
                margin: 10px 0;
                padding: 10px;

                h1 {
                    font-size: 40px;
                    grid-area: 1 / 2;
                    justify-self: center;
                    margin: 0;
                }

            }
            .save-date {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin: 10px 0;
                padding: 10px;

                img {
                    width: 300px;
                    justify-self: center;
                }
            }
            .bottom-text {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-family: config.$font-secondary;
                margin: 10px 0;
                padding: 10px;
                gap: 5px;

                .date {
                    font-size: 28px;
                    align-self: center;
                    text-align: center;
                }
                .invitation {
                    justify-self: center;
                    align-self: center;
                    text-align: center;
                    padding: 5px;

                    p {
                        margin: 5px 0;
                        padding: 5px 0;

                        &:nth-child(1) {
                            font-size: 18px;
                        }
                        &:nth-child(2) {
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }

                    .invitation-btn {

                        button {
                            padding: 10px 20px;
                            color: map-get(config.$color, "background");
                            background-color: map-get(config.$color, "primary");
                            font-family: config.$font-secondary;
                            border: none;
                            border-radius: 5px;
                            display: inline-flex;
                            align-items: center;
                            cursor: pointer;

                            &:hover {
                                background-color: map-get(config.$color, "secondary");
                            }
                            i {
                                padding-right: 5px;
                            }
                        }


                    }
                }
            }
        }
    }
}

/* MAIN */

#panel {
    display: none;
    padding: 10px;
    font-family: config.$font-secondary;
}

@import './mobile';
